apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: myreplicaset
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      name: proxy
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx-container
          image: nginx:latest
          resources:
            limits:
              memory: "128Mi"
              cpu: "500m"
          ports:
            - containerPort: 80
# watch kubectl get pods (Show the pods time running)
# to delete just one of three pods: kubectl delete pod "nameofthepod"
# to delete all pod: kubeclt delete replicaset myreplicaset
